body {
  padding: 20px;
  background-image: url(/assets/img/sfondo.png);
  box-sizing: border-box;
  font-family: Poppins;
}

.box {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.box-1 {
  height: 25vh;
  background: linear-gradient(180deg, rgb(51, 147, 185) 0%, rgb(0, 75, 100) 100%);
  padding: 2em;
  text-align: center;
}

.box-2 {
  margin-top: 2em;
  height: 240vh;
  background: white;
  padding: 1.5em;
}

.img-logo {
  width: 250px;
  padding-top: 1rem;
}

a {
  text-decoration: none;
}

.tool {
  text-decoration: underline;
}

nav a {
  display: block;
  padding-top: 1.2em;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
}

header h2 {
  color: white;
  padding-top: 2rem;
  font-weight: 500;
  font-size: 1.2em;
}

h1 {
  padding-top: 1em;
  font-size: 2.2em;
  font-weight: 600;
  text-align: left;
  line-height: 1.5em;
}

h4 {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 1.4em;
  padding-top: 1em;
}

.credit {
  color: #aaaaaa;
  font-size: 1.2em;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

article p {
  text-align: left;
  margin-bottom: 1.5em;
  margin-block: 0.3em;
  font-size: 1.2em;
  line-height: 1.4em;
}

ul,
ol {
  list-style-type: disc;
  padding: 2em;
  line-height: 1.5em;
  font-size: 1.1em;
  padding-top: 1.5em;
}

.purple {
  color: purple;
  font-weight: 500;
}

ol {
  list-style-type: decimal;
}

table {
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
}

th {
  background-color: #3366cc;
  font-size: 1.1em;
  line-height: 1.5em;
  padding-inline: 1em;
  padding-block: 1.5em 0.5em;
  vertical-align: bottom;
  color: white;
}

th:not(:last-child) {
  border-right: 1px solid #5683df;
}

td {
  text-align: center;
  line-height: 3em;
  font-weight: 400;
}

.bcg-color {
  background-color: #eeeeee;
  border-top: 1px solid rgba(158, 158, 158, 0.3);
  border-bottom: 1px solid rgba(158, 158, 158, 0.3);
}

.bcg-color2 {
  border-bottom: 2px solid #5769b0;
}

p {
  text-align: left;
  margin-bottom: 1.5em;
  margin-block: 0.3em;
  font-size: 1.2em;
  line-height: 1.4em;
}

.news-let {
  background-color: #e7dfe1;
}

.badge {
  background-color: #e6e1e3;
  border: 1.5px solid #a5a4a5;
  border-radius: 5px;
}

iframe {
  padding: 0.4em;
  border-radius: 30px;
}

.mail {
  text-align: left;
  margin-bottom: 1.5em;
  margin-block: 0.3em;
  margin-top: 2em;
  font-size: 1.2em;
  line-height: 1.4em;
  padding-left: 1em;
}

input {
  padding: 1em 2em;
}

.news-section {
  margin-top: 2em;
  font-family: Poppins;
}

.newsletter,
.related-articles,
.blog-footer {
  background-color: #f0f0f0;
  padding: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.newsletter h4,
.related-articles h4 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: 600;
}

.newsletter form {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;
}

.newsletter input[type="email"] {
  flex: 1;
  padding: 0.8em 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newsletter button {
  padding: 0.8em 1.5em;
  border: none;
  background-color: #3366cc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.newsletter button:hover {
  background-color: #254b8f;
}

.related-articles .article-card {
  background-color: #e7e7e7;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.related-articles .article-card a {
  display: block;
  font-weight: 500;
  color: #3366cc;
  margin-bottom: 0.5em;
  text-decoration: underline;
}

.related-articles .article-card p {
  margin: 0.2em 0;
  font-size: 0.95em;
  color: #555;
}

.footer-wrapper {
  text-align: center;
  background: linear-gradient(180deg, #005566, #313b37);
  color: white;
  font-size: 0.9em;
  margin-top: 7em;
  margin-bottom: 3em;
  height: 15vh;
}

footer a {
  color: #ff8ce1;
  text-decoration: none;
}
